# System Files
Thumbs.db
Desktop.ini
.DS_Store

# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*.so

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React Production Build
client/build/

# IDEs
.vscode/
.idea/

# Models (Optional: Uncomment if files are too large > 100MB for GitHub free tier)
# server/models/*.pkl
